<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <h2>Please submit the form below to contact us</h2>
    <div class="form-control">
        <label for="first_name">Your name</label>
        <div>
            <input #firstName="ngModel" type="text" required="" id="first_name" [(ngModel)]="model.firstName"
                name="firstName">
            <div [hidden]="firstName.valid || firstName.pristine" class="error-msg">Please enter a name</div>
        </div>
    </div>
    <div class="form-control">
        <label for="email">Email</label>
        <input type="email" required id="email" [(ngModel)]="model.email" name="email">
    </div>
    <div class="form-control">
        <label for="category">Issue Category</label>
        <select id="category" [(ngModel)]="model.category" name="category">
            <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        </select>
    </div>
    <div class="form-control">
        <label for="description">Description</label>
        <textarea type="text" required id="description" [(ngModel)]="model.description" name="description"></textarea>
    </div>
    <button type="submit" [disabled]="!contactForm.form.valid">Submit</button>
</form>